

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}
ul, ul li {
	list-style: none;
}


/*Header*/


.header {
   height: 79px;
   background-color: #D3CBC5;
}
.header .container {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   padding: 20px;
}
.header .container .header-menu {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 39px;
   width: 1112px;
}
.header .container .header-menu .logo {
   display: flex;
   align-items: center;
   gap: 5px;
}
.header .container .header-menu .menu-name .menu-list{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 525px;
   height: 39px;
}
.header .container .header-menu .menu-name .menu-list .menu-item {
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 300;
   font-size: 16px;
   line-height: 60px;
   color: #1B1A1A;
}
.header .container .header-menu .basket-search .menu-list {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 70px;
   height: 23px;
}
.header .container .header-menu .basket-search .menu-list .cart-item .cart-count{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 12px;
   height: 12px;
   position: absolute;
   top: 20px;
   right: 130px;
   background-color: #781414;
   color: white;
   border-radius: 50%;
   font-size: 10px;
   font-weight: 300;
}


/*Baner*/

.baner .container {
   position: relative;
}
.baner .container .baner-img img{
   width: 100%; 
   
}
.baner .container .baner-text{
   width: 503px;
   height: 309px;
   position: absolute;
   background-color: transparent;
   top: 200px;
   left: 150px;
}
.baner .container .baner-text .baner-text-item .line-vertical {
   width: 1px;
   height: 261px;
   background-color: #6B6C71;
   margin: 0 0 0 30px;
}
.baner .container .baner-text .baner-text-item .line-horizontal {
   height: 1px;
   width: 292px;
   background-color: #6B6C71;
   margin-top: -235px;
}
.baner .container .baner-text .baner-text-item .text-small {
   width: 73px;
   height: 18px;
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 60px;
   color: #2C314B;
   margin: 0 0 0 55px;
}
.baner .container .baner-text .baner-text-item .text-small {
   width: 73px;
   height: 18px;
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 60px;
   color: #2C314B;
   margin: 0 0 0 55px;
}
.baner .container .baner-text .baner-text-item .text-big {
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 600;
   font-size: 50px;
   line-height: 60px;
   color: #1B1A1A;
   margin: 30px 0 0 52px;
   height: 120px;
   width: 361px;
}
.baner .container .baner-text .baner-text-item .text-price {
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 400;
   font-size: 24px;
   line-height: 60px;
   color: #1B1A1A;
   margin: 0 0 0 52px;
   height: 31px;
   width: 156px;
}
.baner .container .baner-text .baner-text-item .text-price span {
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 60px;
   color: #5e5b5b;
   height: 31px;
   width: 156px;
}
.baner .container .baner-text .baner-text-item button {
   width: 114px;
   height: 37px;
   margin: 40px 0 0 52px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #FFFFFF;
   background-color: #1B1A1A;
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 600;
   font-size: 14px;
   line-height: 60px;
   border: none;
}


/*Carusel*/

.carusel .container {
   width: 100%;
   height: 700px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.carusel .container .carusel-items {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 30px;
}
.carusel .container .carusel-items .carusel-cart1 {
   width: 350px;
   height: 449px;
   background-color: #E5E6E6;
}
.carusel .container .carusel-items .carusel-cart1 .cart-text {
   width: 215px;
   height: 80px;
   margin: 50px 0 0 30px;
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 400;
   font-size: 30px;
   line-height: 40px;
   color: #282828;
}
.carusel .container .carusel-items .carusel-cart1 button {
   width: 114px;
   height: 37px;
   margin: 15px 0 0 30px;
   color: #1B1A1A;
   background-color: transparent;
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 600;
   font-size: 14px;
   line-height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid #1B1A1A;
}
.carusel .container .carusel-items .carusel-cart1 img {
   margin: 20px 0 0 120px;
}

.carusel .container .carusel-items .carusel-cart2 {
   width: 350px;
   height: 449px;
   background-color: #E5E6E6;
}
.carusel .container .carusel-items .carusel-cart2 .cart-text {
   width: 215px;
   height: 80px;
   margin: 50px 0 0 30px;
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 400;
   font-size: 30px;
   line-height: 40px;
   color: #282828;
}
.carusel .container .carusel-items .carusel-cart2 button {
   width: 114px;
   height: 37px;
   margin: 15px 0 0 30px;
   color: #1B1A1A;
   background-color: transparent;
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 600;
   font-size: 14px;
   line-height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid #1B1A1A;
}
.carusel .container .carusel-items .carusel-cart2 img {
   margin: 6px 0 0 0px;
}

.carusel .container .carusel-items .carusel-cart3 {
   width: 350px;
   height: 449px;
   background-color: #E5E6E6;
}
.carusel .container .carusel-items .carusel-cart3 .cart-text {
   width: 215px;
   height: 80px;
   margin: 50px 0 0 30px;
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 400;
   font-size: 30px;
   line-height: 40px;
   color: #282828;
}
.carusel .container .carusel-items .carusel-cart3 button {
   width: 114px;
   height: 37px;
   margin: 15px 0 0 30px;
   color: #1B1A1A;
   background-color: transparent;
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 600;
   font-size: 14px;
   line-height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid #1B1A1A;
}
.carusel .container .carusel-items .carusel-cart3 img {
   margin: 30px 0 0 70px;
}

.carusel .container .aroow {
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   gap: 1200px;
}


/*New goods*/

.newGoods {
   width: 100%;
   height: 900px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.newGoods .container {
   width: 1110px;
   height: 862px;
   background-color: transparent;
}
.newGoods .container .goodsText {
   display: flex;
   align-items: center;
   justify-content: start;
   width: 234px;
   height: 18px;
}
.newGoods .container .goodsText .line {
   width: 55px;
   height: 1.2px;
   background-color: #9A6437;
   margin-right: 5px;
}
.newGoods .container .goodsText .text {
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 60px;
   color: #9A6437;
}
.newGoods .container .goodsHeader {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 20px 0 20px 0;
}
.newGoods .container .goodsHeader .goodsName {
   width: 435px;
   height: 60px;
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 400;
   font-size: 42px;
   line-height: 60px;
   color: #1B1A1A;
}
.newGoods .container .goodsHeader .goodsMenu {
   width: 388px;
   height: 25px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 38px;
}
.newGoods .container .goodsHeader .goodsMenu span {
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
   color: #353535;
}
.newGoods .container .goodsHeader .goodsMenu .desk {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 80px;
   color: #FFFFFF;
   background-color: #1C1B1B;
}
.newGoods .container .goodsCarts {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
}
.newGoods .container .goodsCarts .cart {
   width: 255px;
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
}
.newGoods .container .goodsCarts .cart .product-images {
   width: 255px;
   height: 255px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #F7F7F7;
}
.newGoods .container .goodsCarts .cart .product-img {
   margin: 80px 0 30px 0;
}
.newGoods .container .goodsCarts .cart .cartLine {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 255px;
   height: 33px;
   background-color: #1C1B1B;
   gap: 25px;
}
.newGoods .container .goodsCarts .cart .cartName {
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 600;
   font-size: 18px;
   line-height: 28px;
   color: #282828;
   width: 200px;
   height: 28px;
   margin: 10px 0 10px 0;
}
.newGoods .container .goodsCarts .cart .cartPrices {
   display: flex;
   align-items: center;
   justify-content: center;
}
.newGoods .container .goodsCarts .cart .cartPrices .oldPrice {
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 400;
   font-size: 15px;
   line-height: 28px;
   color: #737373;
   text-decoration: line-through;
   margin: 0 10px 0 0;
}
.newGoods .container .goodsCarts .cart .cartPrices .price {
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 400;
   font-size: 15px;
   line-height: 28px;
   color: #000000;
   margin: 0 60px 0 0;
}

/*Our clients*/
.clients {
   width: 100%;
   height: 1000px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.clients .container {
   position: relative;
   height: 700px;
   background-color: #0E0E0E63;
   display: flex;
   align-items: center;
   justify-content: center;
}
.clients .container .clients-img img{
   width: 100%;
   filter: brightness(50%);
}
.clients .container .clients-text {
   position: absolute;
   top: 50px;
}
.clients .container .clients-text .baner-text-small {
   width: 411px;
   height: 99px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
}
.clients .container .clients-text .baner-text-small .line-horizontal {
   width: 55px;
   border: 1.2px solid #E0E0E0;
}
.clients .container .clients-text .baner-text-small .text-small {
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 60px;
   color: #E0E0E0;
}
.clients .container .clients-text .baner-text-big {
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 400;
   font-size: 42px;
   line-height: 60px;
   color: #FFFFFF;
}

.clients .container .clients-feedback {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 1110px;
   height: 366px;
   background-color: transparent;
   bottom: 30px;
   gap: 20px;
}
.clients .container .clients-feedback .feedback-cart {
   width: 255px;
   height: 314px;
   background-color: #FFFFFF;
   border: 1px solid #9A6437;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 10px;
   padding-bottom: 50px;
}
.clients .container .clients-feedback #feedbackCart {
   margin-bottom: 100px;
}
.clients .container .clients-feedback .feedback-cart .photo-back { 
   width: 111px;
   height: 111px;
   border-radius: 50%;
   background-color: #D9D9D9;
   display: flex;
   align-items: center;
   justify-content: center;
}
.clients .container .clients-feedback .feedback-cart .photo-back img {
   width: 105px;
   height: 96px;
   border-radius: 50%;
   margin-top: 12px;
}
.clients .container .clients-feedback .feedback-cart .name {
   width: 210px;
   height: 34px;
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 400;
   font-size: 24px;
   line-height: 34px;
   color: #1B1A1A;
   text-align: center;
}
.clients .container .clients-feedback .feedback-cart .position {
   width: 185px;
   height: 24px;
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   color: #999999;
   text-align: center;
}
.clients .container .clients-feedback .feedback-cart .reits {
   display: flex;
   gap: 5px;
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   color: #000000;
}
.clients .container .clients-feedback .feedback-cart .line {
   width: 222px;
   border: 1px solid #E0E0E0;
}
.clients .container .clients-feedback .feedback-cart .text {
   width: 212px;
   height: 96px;
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 300;
   font-size: 14px;
   line-height: 24px;
   color: #999999;
   text-align: center;
}

/*Popular products*/

.popular-product {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.popular-product .container {
   width: 1110px;
   height: 575px;
}
.popular-product .container .popular-name {
   width: 250px;
   height: 18px;
   color: #9A6437;
   display: flex;
   align-items: center;
   gap: 10px;
   margin-bottom: 20px;
}
.popular-product .container .popular-name .line {
   width: 55px;
   border: 1.2px solid #9A6437;
}
.popular-product .container .popular-name .name {
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 60px;
}

.popular-product .container .popular-product {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 20px;
}
.popular-product .container .name-product {
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 400;
   font-size: 42px;
   line-height: 60px;
   color: #1B1A1A;
}
.popular-product .container .see-btn {
   width: 132px;
   height: 37px;
   color: #1B1A1A;
   background-color: transparent;
   border: 1px solid #1B1A1A;
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 400;
   font-size: 14px;
   line-height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.popular-product .container .goodsCarts {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 30px;
}
.popular-product .container .goodsCarts .cart {
   width: 255px;
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
}
.popular-product .container .goodsCarts .cart .product-images {
   width: 255px;
   height: 255px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #F7F7F7;
}
.popular-product .container .goodsCarts .cart .product-img {
   margin: 80px 0 30px 0;
}
.popular-product .container .goodsCarts .cart .cartLine {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 255px;
   height: 33px;
   background-color: #1C1B1B;
   gap: 25px;
}
.popular-product .container .goodsCarts .cart .cartName {
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 600;
   font-size: 18px;
   line-height: 28px;
   color: #282828;
   width: 200px;
   height: 28px;
   margin: 10px 0 10px 0;
}
.popular-product .container .goodsCarts .cart .cartPrices {
   display: flex;
   align-items: center;
   justify-content: center;
}
.popular-product .container .goodsCarts .cart .cartPrices .oldPrice {
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 400;
   font-size: 15px;
   line-height: 28px;
   color: #737373;
   text-decoration: line-through;
   margin: 0 10px 0 0;
}
.popular-product .container .goodsCarts .cart .cartPrices .price {
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 400;
   font-size: 15px;
   line-height: 28px;
   color: #000000;
   margin: 0 60px 0 0;
}


/*Black line*/

.blackLine {
   width: 100%;
   height: 200px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.blackLine .container {
   width: 1110px;
   height: 165px;
   border: 1px solid #A6A6A6;
   background-color: #1C1B1B;
   display: flex;
   align-items: center;
   justify-content: center;
}
.blackLine .container .blackLine-item {
   width: 1008px;
   height: 59px;
   background-color: transparent;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.blackLine .container .blackLine-item .black-text .text-big {
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 400;
   font-size: 20px;
   line-height: 28px;
   color: #FFFFFF;
}
.blackLine .container .blackLine-item .black-text .text-small {
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 400;
   font-size: 15px;
   line-height: 28px;
   color: #FFFFFF;
}
.blackLine .container .blackLine-item .line-vertical {
   width: 59px;
   border: 1px solid #A6A6A6;
   rotate: 90deg;
}


/*Recent Articles*/

.recent {
   width: 100%;
   height: 800px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.recent .container {
   width: 1110px;
   height: 644px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 40px;
}
.recent .container .recent-info {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.recent .container .recent-info .recent-text-small {
   width: 276px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
}
.recent .container .recent-info .recent-text-small .line-horizontal {
   width: 55px;
   border: 1.2px solid #9A6437;
}
.recent .container .recent-info .recent-text-small .text {
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 60px;
   color: #9A6437;
}
.recent .container .recent-info .recent-text-big .text{
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 400;
   font-size: 42px;
   line-height: 60px;
   color: #1B1A1A;
}

.recent .container .recent-carts {
   width: 1110px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.recent .container .recent-carts .recent-cart {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 30px;
   border: 1px solid #808080;
}
.recent .container .recent-carts .recent-cart .cart-date {
   position: absolute;
   margin: 90px 250px 0 0;
   width: 42px;
   height: 46px;
   background-color: #FFFFFF;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border: 1px solid #fdf6f6;
}
.recent .container .recent-carts .recent-cart .cart-date .date-num {
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 400;
   font-size: 17px;
   color: #000000;
}
.recent .container .recent-carts .recent-cart .cart-date .month {
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 300;
   font-size: 12px;
   color: #000000;
}
.recent .container .recent-carts .recent-cart .cart-date .line-horizontal {
   width: 42px;
   border: 2px solid #B47139;
}
.recent .container .recent-carts .recent-cart .recent-cart-info {
   width: 291px;
   height: 141px;
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
   gap: 5px;
   margin-bottom: 20px;
}
.recent .container .recent-carts .recent-cart .recent-cart-info .coments {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 30px;
}
.recent .container .recent-carts .recent-cart .recent-cart-info .coments .name-coments {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
}
.recent .container .recent-carts .recent-cart .recent-cart-info .coments .name-coments .text {
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 300;
   font-size: 14px;
   line-height: 28px;
   color: #808080;
}
.recent .container .recent-carts .recent-cart .recent-cart-info .coments .coment {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
}
.recent .container .recent-carts .recent-cart .recent-cart-info .coments .coment .text {
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 300;
   font-size: 14px;
   line-height: 28px;
   color: #808080;
}
.recent .container .recent-carts .recent-cart .recent-cart-name {
   width: 291px;
   height: 60px;
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   color: #2E2D2D;
}
.recent .container .recent-carts .recent-cart .recent-cart-info .recent-btn button {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 132px;
   height: 37px;
   background-color: transparent;
   border: 1px solid #1B1A1A;
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 400;
   font-size: 14px;
   line-height: 60px;
   color: #1B1A1A;
}


/*Footer*/

.footer {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.footer .container {
   width: 1440px;
   border-top-left-radius: 700px 50px;
   border-top-right-radius: 700px 50px;
}
.footer .container .footer-form {
   height: 422px;
   background-color: #DDD7D1;
   border-top-left-radius: 700px 50px;
   border-top-right-radius: 700px 50px;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   gap: 5px;
}
.footer .container .footer-form .footer-logo {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
   width: 203px;
   height: 71px;
}
.footer .container .footer-form .name-item {
   width: 423px;
   height: 53px;
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 400;
   font-size: 36px;
   line-height: 46px;
   color: #1B1A1A;
}
.footer .container .footer-form .name-items {
   width: 406px;
   height: 56px;
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 300;
   font-size: 18px;
   line-height: 28px;
   color: #5E5E5E;
   text-align: center;
   margin-bottom: 10px;
}
.footer .container .footer-form .email-form {
   width: 412px;
   height: 37px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
}
.footer .container .footer-form .email-form input {
   width: 275px;
   height: 37px;
   background-color: transparent;
   border: 0.8px solid #5A5A5A;
   border-radius: 4px;
   padding: 0 0 0 15px;
}
.footer .container .footer-form .email-form button {
   width: 127px;
   height: 37px;
   background-color: transparent;
   border: 0.8px solid #5A5A5A;
   border-radius: 4px;
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 300;
   font-size: 12px;
   line-height: 28px;
   color: #1B1A1A;
}
.footer .container .footer-inform {
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.footer .container .footer-inform .copyright {
   width: 272px;
   height: 28px;
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 300;
   font-size: 12px;
   line-height: 28px;
   color: #424242;
}
.footer .container .footer-inform .social-img {
   display: flex;
   width: 130px;
   height: 18px;
   gap: 25px;
}

/*BLOCK Leads*/

.wrap {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.wrap .container {
   margin-top: 50px;
   padding: 20px 40px 20px 40px;
   width: 800px;
   background-color: #fff3f3;
}
.wrap .container .wrap-items {
   margin-top: 15px;
} 
.wrap .container .wrap-items .wrap-item {
   width: 100%;
   background-color: chocolate;
   border-radius: 30px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.wrap .container .wrap-items .wrap-item .leadsContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: #F7F7F7;
   font-size: 16px;
}


